.candle,
.candle-red,
.candle-green {
    width: 10vw;
    height: 40vh;
    margin: 0 1vw;
    display: inline-block;
    position: relative;
    overflow: visible;
    cursor: pointer;
    white-space: normal;
}

.candle-red {
    background-color: #f00;
}

.candle-green {
    background-color: #0f0;
}

.line {
    width: 0.5vw;
    margin: 0 45%;
}

.call-line, .put-line {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 0.5vw;
    width: 100vw;
}

.call-line {
    background-color: blue;
}

.put-line {
    background-color: orange;
}

.popover {
    top: -50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #000;
    padding: 1em;
    z-index: 100;
    opacity: 0;
    transition: opacity 350ms;
}

