p {
    position: absolute;
    top: 80px;
    left: 0;
    margin: 1em;
    z-index: 100;
    font-size: 1.2em;
    text-shadow: 0 0 10px #000;
}

div[role="group"] {
    height: 8% !important;
}

button {
    border-radius: 0px;
}
