<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miko Market</title>
    <style>@import 'index.css'</style>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js" defer></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12" defer></script>
</head>

<body>
    <header>
        <h1>Miko Market</h1>
        <form hx-get="/candles" hx-swap="outerHTML" hx-target="#candles">
            <label>
                <span>Number of candles:</span>
                <input type="number" min="1" max="10000" name="num_candles" value={{ $num_candles }} />
            </label>
            <button>Update Candles</button>
        </form>
        <form hx-post='/candles'>
            @render simulation-form
        </form>
    </header>
    @require 'candles.php'
</body>

</html>

@block simulation-form
<label>
    <span>Update Speed (sec):</span>
    <input type="number" step="0.01" min="0.1" max="5" name="speed" value="1" />
</label>
<label>
    <span>Initial Invesment:</span>
    <input type="number" min="1" max="1000000" name="investment" value="50000" />
</label>
<button class='simulation' name='simulate' value='true'>Start Simulation</button>
@endblock

@block simulating-form
<requester
    hx-get='/candles?num_candles=1'
    hx-include='#order'
    hx-target='#candles'
    hx-swap='beforeend'
    hx-select='#candles > .candle'
    hx-trigger='every {{ $speed }}s'>
</requester>
<button class='simulating' name='simulate' value='false'>
    Stop Simulation
</button>
@endblock
